body {
    font-family: Georgia; color: #444; 
}
#inter { 
   padding: 10px 80px; margin: 80px auto; background: #f5f5f5; border: solid #666; border-width: 8px 0 2px 0; 
}
.yui-gf { 
   margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; 
}

#hd { 
   margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc 
}
#hd h1 { 
   font-size: 48px;  letter-spacing: 3px; 
}
h2 { 
   font-size: 152% 
}
h3, h4 { 
   font-size: 122%; 
}
h1, h2, h3, h4 { 
   color: #333; 
}
p { 
   font-size: 100%; line-height: 18px; padding-right: 3em; 
}
a { 
   color: #990000 
}
p.enlarge { 
   font-size: 144%; padding-right: 6.5em; line-height: 24px; 
}
p.enlarge span { 
   color: #000 
}
.last { 
   border-bottom: 0 
}
input[type="submit"] {
   cursor: all-scroll;
}
